[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flow = {path = "./flow"}
networkx = "*"
sacred = "*"
pymongo = "*"
sshtunnel = "*"
torch = "*"
tensorflow = "==1.13.1"
gym = "*"
matplotlib = "*"
pyaml = "*"
lxml = "*"
opencv-python = "*"
imutils = "*"
ipykernel = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.7"
