[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flow = {path = "./flow"}
networkx = "*"
sacred = "*"
pymongo = "*"
sshtunnel = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.7"
